# General
*.py[cod]
__pycache__/
*.swp
.DS_Store
Thumbs.db
*.log
*.cfg

# Python virtual environments
venv/
.env

# ROS build and log directories
vega_system/ros2_ws/install/**
vega_system/ros2_ws/log/**
vega_system/ros2_ws/build/**

# IDE specific files
.idea/
.vscode/
*.sublime-workspace


# Media files you don't want to track
*.png
*.jpg
*.jpeg
*.gif
*.avi
*.mp4